<h1>Create a new task!</h1>
<%= form_with model: @task do |t| %>
  <%= t.label :title, "Title"  %>
  <%= t.text_field :title %>
  <%= t.label :details, "Description"  %>
  <%= t.text_field :details %>
  <%= t.submit %>
<% end %>
<%= link_to "Back", :back  %>
